{% extends "IoTApp/base.html" %}

{% block content %}
<style type="text/css">
    table {
        border:none;
    }
    tr {
        height:200;
    }
    td {  
        padding:1px; 
    }
    
    img {  
        border:0;
        padding:0px; 
        height:200;
        width:100%; 
    }
    iframe {  
        border:none; 
        width:100%;    
        height:200;
    }
</style>
<script>
    function onload(){
        var w = window.innerWidth;
        var h = window.innerHeight; 
        // var r = document.getElementById("tb").rows
        // r[0].height="300";
        // r[1].height="300";
        // r[2].height="300";
        // // alert(h)
    }
</script>
<body onload="onload()"></body>

<br><br><br>
<table id="tb">
    <tr>
        <td width="15%"><img src="/static/images/화면1.jpg"></td> 
        <td width="15%"><img src="/static/images/화면2.jpg"></td>
        <td width="20%"><iframe id="chart" src="chart_org" scrolling="no"></iframe></td>
        <td width="20%"><iframe id="chart" src="chart_sankey" scrolling="no"></iframe></td>
        <td width="20%"><iframe id="chart" src="chart_guage" scrolling="no"></iframe></td>
    </tr>
    <tr>
        <td><img src="/static/images/화면3.jpg"></td>
        <td><img src="/static/images/화면4.jpg"></td>
        <td><iframe id="chart" src="chart_scatter/dht" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_line/fire" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_line/fire" scrolling="no"></iframe></td>
    </tr>
    <tr>
        <td><iframe id="chart" src="chart_table/dht" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_line/light" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_line/dht" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_line/dht" scrolling="no"></iframe></td>
        <td><iframe id="chart" src="chart_map/dht" scrolling="no"></iframe></td>
    </tr>    
</table>
{% endblock %}
