{% extends "IoTApp/base.html" %}

{% block content %}

<div>
<div class="frame">
    <iframe id="dashboard_dht"  src="dashboard_dht" 
    style="border:none;" height="100%" width="30%" align="left" ></iframe>
</div>

<div class="frame">
    <iframe id="dashboard_fire"  src="dashboard_fire" 
    style="border:none;" height="100%" width="30%" align="left" ></iframe>
</div>

<div class="frame">
    <iframe id="dashboard_light"  src="dashboard_light" 
    style="border:none;" height="100%" width="30%"  align="left" ></iframe>
</div>
</div>

{% endblock %}