{% extends 'IOTMS/base_print.html' %}
{% block content %}
{% load humanize %}

<style>
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
}
.modal-dialog.modal-fullsize { width: 100%; height: 100%; margin: 0; padding: 0; }
.table > tbody > tr > .no-line {
    border-top: none;
}
.table > thead > tr > .no-line {
    border-bottom: none;
}
.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
</style>

<script>
    function Print(){
        str1 = '<link rel="stylesheet" href="/static/bootstrap.min.css">';
        str2 = '<script src="/static/bootstrap.min.js" ></script>';
        str3 = '<script src="/static/jquery-3.2.1.slim.min.js" ></script>';

        var DocumentContainer = document.getElementById('divtoprint');
        var WindowObject = window.open("", "PrintWindow",
        "width=10,height=10,top=10,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes");
        WindowObject.document.writeln(str1);
        WindowObject.document.writeln(str2);
        WindowObject.document.writeln(str3);
        WindowObject.document.writeln(DocumentContainer.innerHTML);
        WindowObject.document.close();
        WindowObject.print();
        WindowObject.close();
    }
    function PrintLoad(){
        $(".btnmodal").click()
    }
    function goBack() {
        window.history.back();
    }
</script>

<br><br><br><br><br>
{% for master in masters %}
{{master.WHLocation}}
{% endfor %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

<button type="button" class="btnmodal" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
<body onload="PrintLoad()"></body>
<div class="ccontainer">
        <h2>Large Modal</h2>
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-fullsize">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="goBack()">&times;</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="goBack()">Close</button>
                <button type="button" class="btn btn-default" onclick="Print()">Print</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                    <div class="container" id="divtoprint">
                            {% for master in masters %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="invoice-title">
                                            <h2 class="pull-center">장비 Tag</h2><br>
                                            <h4 class="pull-left">{{master.InYMD}}</h4>
                                            <h4 class="pull-right">{{master.ServiceReqNo}}</h4><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><strong>거래명세 내역</strong></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>품목</strong></td>
                                                            <td class="text-center"><strong>단가</strong></td>
                                                            <td class="text-center"><strong>수량</strong></td>
                                                            <td class="text-right"><strong>금액</strong></td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="goBack()">Close</button>
                <button type="button" class="btn btn-default" onclick="Print()">Print</button>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}



