{% extends 'IOTMS/base.html' %}

{% block content %}
<div>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <!-- <p>selected : {{ selected }}</p>    
            <p>form : {{ form }}</p>    
            <p>ct : {{ ct }}</p>    
            {% for row in ct %}
            <p>invoiceno : {{ row.InOutNo }}</p>   
            <p>invoicedate : {{ row.InOutDate }}</p>       
            {% endfor %}  -->
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        
    
    </div>

{% endblock %}